name: main
on:
  push:
    branches: [main]
    tags: [v*]
  pull_request:
    branches: [main]
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        node:
          - 20.x
          - 22.x
        connect-version:
          - preview
          # This version is the first Docker image that has R 4.3, which the
          # example app requires.
          - "2024.05.0"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - run: npm install
      - run: npm run lint
      - run: npm run build
      - uses: posit-dev/with-connect@main
        with:
          license: ${{ secrets.CONNECT_LICENSE_FILE }}
          version: ${{ matrix.connect-version }}
          command: npm test
      - run: git diff --exit-code

  publish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22.x
      - run: npm install
      - run: npm run build
      - run: printf '//registry.npmjs.org/:_authToken=%s\n' "${NPM_AUTH_TOKEN}" | tee .npmrc
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
      - run: npm info
      - if: startsWith(github.ref, 'refs/tags')
        run: npm publish
      - if: startsWith(github.ref, 'refs/heads')
        run: npm publish --dry-run
